---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .rick {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .rick > h1 {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <!-- <img src="/me.png" alt="Astro Logo" /> -->
    <main>
      <div class="rick">
        <img src="/ll.png" alt="😶‍🌫️" width="60" height="60" />
        <h1>Hi there!</h1>
      </div>

      <p>
        My name is Anuj Singh. I am passionate about ML, FullStack and I have a
        keen interest in various tech-related topics. In the future, I plan to
        establish a YouTube channel to sharing things I like.
      </p>
      <p>
        I enjoy turning complex problems into somewhat OK complex problems⚙️
      </p>
      <p>And these are the Tech I am familiar with:</p>
      <ul>
        <li>Nodejs</li>
        <li>Nextjs</li>
        <li>Python</li>
        <li>TypeScript</li>
        <li>graphql - REST - trpc</li>
      </ul>
      <!-- <p>Currently, I am:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
      </ul> -->
    </main>
    <Footer />
  </body>
</html>
