---
// import Arch from '../images/arch.svg';
const today = new Date();
---

<footer>
  <div>Inspired by SWE people and big dreams :')</div>
  &copy; Anuj Singh {today.getFullYear()}

  <div class="arch">
    i use
    <img src="/arch.png" alt="arch" width="30" height="30" />
    btw
  </div>
  <div style="display: flex; justify-content: center; gap: 1rem;">
  <p><a href="/policy">Refund</a></p>
  <p><a href="/contact">Contact</a></p>
  <p><a href="/term">Terms and Conditions</a></p>

  </div>
</footer>

<style>
  .arch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    /* margin-top: 1em; */
  }
  footer {
    padding: 2em 1em 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
